# Ignore everything by default
*
# Track these
!.gitignore
!.config/
!.local/
!.bash_profile
!.bashrc
!.profile

# Ignore specific files
.*.swp
.bash_history
.config/.bash*
.*.swp
.bash_history
.config/.bash*
.*.swp
.bash_history
