@import "mocha.css"; 

* {
    font-family: "JetBrainsMono Nerd Font Bold";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: #1e1e2e;
    color: #cdd6f4;
    border-radius: 0;
    padding: 0px;
}

tooltip {
    background: #181825;
    border: 1px solid #89b4fa;
    border-radius: 8px;
    padding: 4px;
}

#window {
    margin: 0 8px;
    padding: 0 6px;
}

#workspaces button {
    padding: 6px 10px;
    margin: 0px 2px;
    background: transparent;
    color: #6c7086;
    border: none;
    font-size: 13px;
}

#workspaces button:hover {
    background: transparent;
    color: #cdd6f4;
}

#workspaces button.active {
    background: transparent;
    color: #89b4fa;
}

#workspaces button.focused {
    background: transparent;
    color: #f5c2e7;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#network,
#mode,
#idle_inhibitor,
#scratchpad {
    padding: 6px 10px;
    margin: 0px 2px;
    background: transparent;
    border-radius: 0px;
}

#tray {
    padding: 0px 6px;
    margin: 0px 2px;
    background: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#clock {
    color: #74c7ec;
}

#clock.simpleclock {
    color: #89b4fa;
}

#pulseaudio {
    color: #b4befe;
}

#pulseaudio.muted {
    color: #6c7086;
}

#network {
    color: #f9e2af;
}

#network.disconnected {
    color: #f38ba8;
}

#battery {
    color: #a6e3a1;
}

#cpu {
    color: #94e2d5;
}

#memory {
    color: #cba6f7;
}

#backlight {
    color: #f5c2e7;
}

#idle_inhibitor {
    color: #a6e3a1;
}

#idle_inhibitor.activated {
    color: #f9e2af;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

.modules-right > widget:last-child > #workspaces,
.modules-right > widget:last-child > #clock {
    margin-right: 4px;
}
