/* Rofi Colors */
* {
    background: #131313;
    base: #131313;
    text: #e2e2e2;
    dim: #919191;
    lavender: #87b4a9;
    surface: #1f1f1f;
    hover: #2a2a2a;
}

configuration {
    modi: "drun";
    show-icons: true;
    display-drun: "  ";
}

listview {
    lines: 8;
}

element {
    padding: 8px 12px;
    border-radius: 12px;
}

element selected {
    text-color: @lavender;
}

element hover {
    background-color: @hover;
}